.currency-container
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 14px;

  position: relative;

  height: 400px;

  left: -14px;
  right: 0;
  padding-top: 32px;
}

.currency-container > .panel
{
  margin: 0px;
}
